* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: #ededed;
    color: #47505a;
}

.absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainDash {
    position: relative;
    width: 100%;
}
.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, .1);
    margin-bottom: 2rem;
}

.surveys {
    width: 50%;
    margin: 2rem auto
}

.nextButton {
    position: absolute;
    top: 10px;
    right: 0;
}

.survey-review {
    box-sizing: unset !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2rem;
    border-radius: 5px;
}

.survey-review .survey-review__field {
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.survey-review .survey-review__field:not(:last-of-type) {
    margin-bottom: 1rem;
}

.survey-review .survey-review__text {
    color: #005353;
}
.survey-review .survey-review__text--title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
}

.survey-review .survey-review__text--subject {
    color: rgba(81, 93, 94, .9);
    font-weight: 300;
}

.survey-review .survey-review__text--text {
    color: rgba(14, 68, 69, 0.9);
    font-weight: 400;
}

.survey-review .survey-review__text--rec {
    color: rgba(81, 93, 94, .6);
    font-size: 13px;
    font-weight: 300;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 12px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 12px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 36px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 60px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #32383f;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.btn {
    transition: all .2s;
}
.btn:hover {
    filter: brightness(115%);
}

.survey {
    margin: auto auto 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.survey__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
}

.survey__title {
    margin: 1rem;
}
.survey__title p {
    font-size: 12px;
    color: #a4a4a4;
}

.survey__title h2 {
    font-size: 20px;
    font-weight: 400;
    color: #666c63;
    margin: 0
}

.survey__remove {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 1rem;
    color: #9d7a69;
}

.survey__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.survey__body-left {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: -1rem;
}

.survey__body-left h2 {
    font-size: 26px;
    color: #767676;
    font-weight: 200;
    margin: 0
}

.survey__body-right {
    background-color: #f9f9f9;
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

.survey__body-right-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survey__body-right-answers:not(:last-of-type) {
    margin-right: 1rem;
}
.survey__body-right-answer {
    font-weight: 200;
}
.survey__body-right-result {
    text-align: center;
    font-weight: 800;
    color: white;
    background-color: #a9d143;
    padding: 0 .5rem;
    border-radius: 8px;
}